:root {
  --primary-color: #14224e;
  --accent1-color: #096792;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

header,
main {
  width: 840px;
  margin: 0 auto;
}

footer {
  width: 840px;
  margin: 0 auto;

}

footer nav {
  display: flex;
  justify-content: right;
}

footer nav a img {
  display: block;
  justify-content: right;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p {
  margin: 16px;
  padding: 8px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin: 1px;
  padding: 15px;
  display: block;
  flex: 1 1 auto;
  justify-content: space-evenly;
  border: 1px solid #000000;
}

.figures {
  display: flex;
  justify-content: space-evenly;
}

.figures img {
  width: 150px;
  flex: auto;
  justify-content: space-evenly;
}

nav a {
  display: block;
  justify-content: space-evenly;
  text-decoration: none;
}

article {
  margin: 16px;
  padding: 8px;
}

section {
  margin-top: 16px;
  padding: 0px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.columns {
  display: flex;
  gap: 20px;
}

.columnas {
  flex: 1;
}

.map {
  border: 1px solid #555;
  padding: 5px;
  margin: 2px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 2px;
}

.campo-form {
  display: flex;
  flex-direction: row;
}

.campo-form2 {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  width: 5rem;
  padding: 5px;
  margin: 2px;
}

.wide {
  width: 100%;
}

input,
textarea,
select,
button {
  display: flex;
  border: 1px solid #444;
  border-radius: .25rem;
  padding: 5px;
  margin: 2px;
}

button {
  background-color: #ccc;
  color: #000;
  margin: 0 auto;
  display: block;
  width: 100%;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.9;
  background-color: var(--accent1-color);
  color: #fff;
  /* white text – make sure there is enough contrast with the background-color */
}

h2 {
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  color: #fff;
  /* white text – make sure there is enough contrast with the background-color */
}

.hero article {
  position: absolute;
  top: 110px;
  left: 350px;
  width: 50%;
  padding: 16px;
  text-align: left;
  opacity: 0.85;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article img {
  float: right;
  width: 125px;
  ;
}